<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <style type="text/css">
            .ui-diagram-element {
                border:0.1em dotted #804000;    
                width:4em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(13, 53, 20, 0.8);
                border-radius: 3em;
                border: 1px solid #0e0587;
                background-color: #125320;
                color: #cccccc;
            }
        </style>
        <h:form>
            <p:growl id="grwlErrores"/>
            <p:diagram value="#{arbolControlador.model}" style="height:500px" styleClass="ui-widget-content" />
            <p:panel header="Panel Nuevo Nodo">
                <p:outputLabel value="Dato:"/>
                <p:inputText required="true" value="#{arbolControlador.dato}"/>
                <p:commandButton value="Agregar" action="#{arbolControlador.adicionarNodo()}" update="@all" />
                <p:commandButton value="InOrden" action="#{arbolControlador.habilitarInOrden()}" update="@all" />
                <p:commandButton value="PosOrden" action="#{arbolControlador.habilitarPosOrden()}" update="@all" />
                <p:commandButton value="PreOrden" action="#{arbolControlador.habilitarPreOrden()}" update="@all" />
                <p:commandButton value="Cantidad de hojas" action="#{arbolControlador.habilitarPreOrden()}" update="@all" />
                <p:commandButton value="CantidadNodos" action="#{arbolControlador.habilitarCantNodos()}" update="@all" />
                <p:commandButton value="Cant. Hojas" action="#{arbolControlador.habilitarCantNodosHoja()}" update="@all" />
                <p:commandButton value="Altura del arbol" action="#{arbolControlador.habilitarAlturaArbol()}" update="@all" />
                <p:commandButton value="ver balance del arbol" action="#{arbolControlador.habilitarBalanceArb()}" update="@all" />
                <p:commandButton value="Numero mayor" action="#{arbolControlador.habilitarNumMayor()}"  update="@all" />
                <p:commandButton value="Numero menor" action="#{arbolControlador.habilitarNumMenor()}" update="@all" />
                <p:commandButton value="Borrar Numero menor" action="#{arbolControlador.habilitarBorrarMenor()}" update="@all" />
                <p:commandButton value="Borrar Numero mayor" action="#{arbolControlador.habilitarBorrarMayor()}"  update="@all" />
                <p:commandButton value="Cambiar Valores" action="#{arbolControlador.habilitarCambiarValores()}"  update="@all" />
                <p:commandButton value="Completo" action="#{arbolControlador.completo()}"  update="@all" />
                <p:commandButton value="Sumar el arbol" action="#{arbolControlador.suma()}"  update="@all" />
                <br />
                <p:outputLabel value="Split: " />
                <p:inputText value="#{arbolControlador.split}"/>
                <p:commandButton value="Enviar" action="#{arbolControlador.extraer()}" update="@all" />
                
                <p:outputLabel value=" Terminados en:" />
                <p:inputText value="#{arbolControlador.terminado}" maxlength="1"/>
                <p:commandButton value="Enviar" action="#{arbolControlador.terminadosEn()}" update="@all" />
               
                
                
            </p:panel> 
            <h:panelGroup rendered="#{arbolControlador.verInOrden}">
                <p:panel header="InOrden">
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.inOrden()}">
                        <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>

            <h:panelGroup rendered="#{arbolControlador.verPosOrden}">
                <p:panel header="PosOrden">
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.posOrden()}">
                        <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>

            <h:panelGroup rendered="#{arbolControlador.verPreOrden}">
                <p:panel header="PreOrden">
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.preOrden()}">
                        <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{arbolControlador.verCantNodos}">
                <p:panel header="PreOrden">
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.cantidadNodos()}">
                        <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>
                </p:panel>
            </h:panelGroup>

            <h:panelGroup rendered="#{arbolControlador.verCantNodosHoja}">
                <p:panel header="Ver Hojas">
                    
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.cantidadNodosHoja()}">
                        <p:column headerText="Cantidad de Hojas es:">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>

            
            <h:panelGroup rendered="#{arbolControlador.verRetornarAltura}">
                <p:panel header="Altura de arbol">
                    
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.retornarAltura()}">
                        <p:column headerText="La altura del arbol es de: ">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
 
            <h:panelGroup rendered="#{arbolControlador.verBalanceArb}">
                <p:panel header="balance del arbol">
                    
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.imprimirBalance()}">
                        <p:column headerText=" ">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
                                
            
            <h:panelGroup rendered="#{arbolControlador.verNumMayor}">
                <p:panel header="Numero Mayor">
                    
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.mayorValor()}">
                        <p:column headerText="El numero mayor es: ">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
            
            
            <h:panelGroup rendered="#{arbolControlador.verNumMenor}">
                <p:panel header="Numero Menor">
                    
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.menorValor()}">
                        <p:column headerText="El numero menor es: ">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
                        
            
            <h:panelGroup rendered="#{arbolControlador.verBorrarNumMenor}">
                <p:panel header="Valor del dato borrado.">
                    
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.borrarNumMenor()}">
                        <p:column headerText=" ">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{arbolControlador.verBorrarNumMayor}">
                <p:panel header="Valor del dato borrado.">
                    
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.borrarNumMayor()}">
                        <p:column headerText=" ">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{arbolControlador.verCambiarValores}">
                <p:panel header="Valores del arbol cambiados.">
                    
                    <p:dataTable var="nodo" value="#{arbolControlador.arbol.cambiar()}">
                        <p:column headerText=" ">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
        </h:form>
    </h:body>
</html>

